{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LiFetch Picture</title>
    <link href="//cdn.bootcss.com/normalize/4.1.1/normalize.min.css" rel="stylesheet"> 
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/blueimp-file-upload/9.12.4/css/jquery.fileupload.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'commons.css' %}">
<link href="/static/main/picture-e8a26.css" rel="stylesheet"></head>
<body>
<header>
    <div id="branding">
        <h1 id="site-name"><a href="/">Lifetch</a></h1>
    </div>
    <div id="apps">
        <a href="{% url 'picture:index' %}" class="{% if active == 'picture' %}active{% endif %}">印象</a>
    </div>
    <div id="user-tools">

        {% if user.is_active %}
            欢迎, <a href="{% url 'accounts:profile' %}"><strong>{{ user.username }}</strong></a> /
            <a href="{% url 'accounts:logout' %}">退出</a>
        {% else %}
            <a href="{% url 'accounts:login' %}?next=/">登录</a>
        {% endif %}

    </div>

</header>


<section id="main">
    <div onsubmit="return false;" id="uploadForm">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上传文件</span>
            <input id="fileupload" type="file" name="file" multiple data-sequential-uploads="true"
                   data-form-data='{"csrfmiddlewaretoken": "zle7fWyDWCxU6vzHNJ5unEpsPNW9CwNV"}'>
        </span>
        <div id="uploadBox">
            <div class="title">上传状态 <span class="global-status"></span></div>
        </div>
    </div>
    <div id="board">

    </div>
    <div id="expand"></div>
</section>

<footer>

</footer>

<script>
    var LFT = window.LFT = {};
    LFT.csrf_token = '{{ csrf_token }}';
</script>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/blueimp-file-upload/9.12.4/js/vendor/jquery.ui.widget.min.js"></script>
<script src="//cdn.bootcss.com/blueimp-file-upload/9.12.4/js/jquery.fileupload.min.js"></script>
<script type="text/javascript" src="/static/main/picture-3dc30.js"></script></body>
</html>
